* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #222;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.search {
    width: 40%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-btn {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
}

.hero-main {
    display: flex;
    padding: 90px 80px;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    width: 50%;
}

.stars {
    color: gold;
    margin-bottom: 20px;
}

.hero-main h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.gradient-text {
    background: linear-gradient(90deg,#0d6efd,#d63384);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-main p {
    font-size: 18px;
    color: #555;
    max-width: 500px;
}

.hero-actions {
    margin: 30px 0;
}

.btn {
    padding: 14px 26px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.gradient {
    background: linear-gradient(90deg,#0d6efd,#d63384);
    color: white;
}

.outline {
    border: 2px solid #0d6efd;
    background: none;
    color: #0d6efd;
    margin-left: 10px;
}

.hero-stats {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.hero-stats h3 {
    color: #0d6efd;
}

.hero-right {
    width: 45%;
}

.card-box {
    background: #eef2ff;
    padding: 60px;
    border-radius: 20px;
    text-align: center;
}

.trust {
    text-align: center;
    padding: 90px 40px;
}

.trust span {
    color: #0d6efd;
}

.trust-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.trust-card p {
    color: #666;
}

.products {
    padding: 80px;
}

.products-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.card {
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 12px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #4285f4;
    color: white;
    border: none;
    border-radius: 6px;
}

.hero-end {
    text-align: center;
    padding: 100px 20px;
}

.pill {
    background: #eaf3ff;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 30px;
}

.hero-end h2 {
    font-size: 44px;
}

.hero-end p {
    margin-top: 20px;
    color: #555;
}

.hero-end-btns {
    margin-top: 30px;
}

.secondary {
    background: #5b5bf7;
    color: white;
    margin-left: 10px;
}